name: derivative_baseline
description: Baseline serving config for derivative signal on MNQ
pipeline: mnq_60m_baseline

scoring:
  zscore_window_bins: 300
  zscore_min_periods: 75
  derivative_weights: [0.55, 0.30, 0.15]
  tanh_scale: 3.0
  threshold_neutral: 0.15

signal:
  name: derivative
  params:
    zscore_window_bins: 240
    zscore_min_periods: 60
    d1_weight: 1.0
    d2_weight: 0.0
    d3_weight: 0.0
  weights:
    bull_pressure: 1.0
    bull_vacuum: 1.0
    bear_pressure: 1.0
    bear_vacuum: 1.0

projection:
  horizons_ms: [250, 500, 1000, 2500]
  use_cubic: false
  damping_lambda: 0.0
